/* Change width of the Exclude Patterns textarea */
textarea[name="mn_exclude_patterns"].large-text {
    width: 50% !important;
}

/* Fix width of Select2 field */
.select2.select2-container.select2-container--default {
	width: 50% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px !important;
    border: 1px solid #AAA;
    border-radius: 4px;
    background-color: #E4E4E4;
    cursor: default;
}