/* Fix width of Select2 field */
.select2-container {
    width: 100% !important;
}

.select2-selection {
    width: 100% !important;
}

/* Change width of the Exclude Patterns textarea */
textarea[name="smarty_exclude_patterns"] {
    width: 100% !important;
}
